@using Data_Access_Layer.Entities
@using Microsoft.AspNetCore.Identity

@model IEnumerable<Data_Access_Layer.Entities.Course>
@inject SignInManager<ApplicationUser> signInMahager;
@{
    ViewData["Title"] = "Manage Courses";
    Layout = "_Layout";

}


<div class="manage course content">
    @if (signInMahager.IsSignedIn(User) && User.IsInRole("Teacher"))
    {
        <a class="myButton text-white" asp-controller="Course" asp-action="Create">Create Course</a>
    }
    
    @{
        int num = 0;
        foreach(var course in Model)
        {
            num++;
 
<div class="courseDetails flex-column justify-content-between" style="width:100%">
    <div class="d-flex justify-content-between">
        <h2 class="CourseName text-white"><b>Course #@num : @course.name</b></h2>
        <a class="AddStudentBtn text-white" asp-action="AddStudents" asp-route-id="@course.id">Add students</a>
    </div>
    <p class="CourseDescription text-white" style="width:60%"> @course.description</p>
    
                @if (signInMahager.IsSignedIn(User) && User.IsInRole("Teacher"))
                {
                    <div class="d-flex align-items-start">
        <a class="EditCourseButton text-white" asp-controller="Course" asp-action="Edit" asp-route-id="@course.id">Edit</a>
        <a class="DeleteCourseButton text-white" asp-controller="Course" asp-action="Delete" asp-route-id="@course.id">Delete</a>
    </div>
                }
    
</div>
        }
    }
</div>