@model IEnumerable<Data_Access_Layer.Entities.Test>
@{
    ViewData["Title"] = "Manage Courses";
    Layout = "_Layout";
    

}
@using Data_Access_Layer.Entities



<div class="manage course content">
    <a class="myButton text-white" asp-controller="Test" asp-action="Create">Create Test</a>
    @{

        @foreach(var test in Model)
        {
            
     <div class="courseDetails flex-column justify-content-between" style="width:100%">
    <div class="d-flex justify-content-between">
        <h2 class="CourseName text-white">@test.Course.name | @test.name</h2>
        <a href="#" class="AddStudentBtn text-white">Add student</a>
    </div>
    <p class="CourseDescription text-white" style="width:60%"> @test.description</p>
    
    <div class="d-flex align-items-start">
        <a class="EditCourseButton text-white" asp-controller="Test" asp-action="Edit" asp-route-id="@test.id">Edit</a>
        <a class="DeleteCourseButton text-white" asp-controller="Test" asp-action="Delete" asp-route-id="@test.id">Delete</a>
    </div>
</div>
          
 

        }
    }
</div>