@model IEnumerable<Data_Access_Layer.Entities.Question>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> signInMahager;
@{
	ViewData["Title"] = "Manage Test";
    Layout = "_Layout-2";
	Test CurTest = (Test)TempData["CurrentTest"];
}
@using Data_Access_Layer.Entities


<div class="manage course content">
    @if (signInMahager.IsSignedIn(User) && User.IsInRole("Teacher"))
    {
    }
    

       
	@if (Model.Count() !=0)
	{
		
		<div class="questionDetails flex-column justify-content-between">
	<div class="test_container_text ">
		<h3>@CurTest.name</h3>
	</div>

		@{
			int counter = 0;}
		@foreach(var ques in Model)
		{
			counter++;
			<div class="flex-column justify-content-between" style="width: 80%; background: #FFFFFF;margin: auto;padding-top: 25px;">
				<div class="flex-column justify-content-between" style="width: 95%;background: #FFFFFF;border: 1px solid #000000;border-radius: 5px; padding: 20px;margin: auto; ">
					<h3 class="question_number">Question №@counter</h3>
					<h3 class="question_number" style="text-decoration:none;">Scores:@ques.Scores</h3>
					<div class="flex-column justify-content-between" style="background-color:#f3f3f3;">
						<p style="font-family: 'Montserrat', sans-serif; font-weight: 400;color: #000000;font-size: 24px;">@ques.Title</p>
					</div >
					<h3 class="answers_test">Answers (separated by commas):</h3>
					<div class="flex-column justify-content-between" style="background-color:#f3f3f3;">
						<p style="font-family: 'Montserrat', sans-serif; font-weight: 400;color: #000000;font-size: 24px;">@ques.Options</p>
					</div >
					<h3 class="answers_test">Correct answer:</h3>
					<div class="answers">
						<p>@ques.Key</p>
					</div>
					<div class="d-flex justify-content-start" style="margin-top:20px;">
						<a class="btn" role="button" style="background: #79819E;font-family: 'Montserrat', sans-serif;font-size: 24px;font-weight: 700;color: #FFFFFF;padding: 5px; margin-right:20px;">Edit</a>
						<a class="btn" role="button" style="background: #79819E;font-family: 'Montserrat', sans-serif;font-size: 24px;font-weight: 700;color: #FFFFFF;padding: 5px;">Delete</a>
					</div>			
		</div>
	</div>
		}
		<div class="flex-column justify-content-between" style="width: 80%; background: #FFFFFF;margin: auto;padding-top: 25px;">
<div class="d-flex justify-content-start" style="margin-top:20px;">
        <a class="btn" role="button" style="background: #79819E;font-family: 'Montserrat', sans-serif;font-size: 24px;font-weight: 700;color: #FFFFFF;padding: 5px; margin:20px; margin-left:20px;" asp-controller="Question" asp-action="Create" asp-route-id="@CurTest.id">Add Question</a>
		<a class="btn" role="button" style="background: #79819E;font-family: 'Montserrat', sans-serif;font-size: 24px;font-weight: 700;color: #FFFFFF;padding: 5px;margin:20px;" asp-controller="Test" asp-action="GetAllTests">Back</a>
    </div>

</div>
		
	
</div>
	}
	else
	{

		
		<h3 style="color:black;">@CurTest.name</h3>
	
		<div class="d-flex justify-content-start" style="margin-top:20px;">
        <a class="btn" role="button" style="background: #79819E;font-family: 'Montserrat', sans-serif;font-size: 24px;font-weight: 700;color: #FFFFFF;padding: 5px; margin:20px; margin-left:0px;" asp-controller="Question" asp-action="Create" asp-route-id="@CurTest.id">Add Question</a>
		<a class="btn" role="button" style="background: #79819E;font-family: 'Montserrat', sans-serif;font-size: 24px;font-weight: 700;color: #FFFFFF;padding: 5px;margin:20px;" asp-controller="Test" asp-action="GetAllTests">Back</a>
    </div>
	}
            
    
 </div>