@model List<QaAnViewModel>
@using System;

@{
	ViewData["Title"] = "Start Test";
    Layout = "_Layout-2";
	Test CurTest = (Test)TempData["CurrentTest"];
	int SumScores = 0;
	@foreach(var ques in Model)
	{
		SumScores += ques.Scores;
	}


	
}
@using Data_Access_Layer.Entities
@using LNU_Test_Portal.ViewModels






<div class="manage course content">



		<form method="post" asp-asp-controller="Question" asp-action="StartTest">
			@Html.AntiForgeryToken()
			
    
	@if (Model.Count() !=0)
	{
		
		<div class="questionDetails flex-column justify-content-between">
	<div class="test_container_text ">
		<h3>@CurTest.name</h3>
		<h3>Available Points:@SumScores</h3>
	
	</div>
		@{
			int counter1 = 0;}
		@for(int i=0;i<Model.Count();i++)
		{
			
			@Html.HiddenFor(m=>Model[i].id)
			@Html.HiddenFor(m=>Model[i].Key)
			@Html.HiddenFor(m=>Model[i].TestId)
			@Html.HiddenFor(m=>Model[i].Scores)
			
			counter1++;
			<div class="flex-column justify-content-between" style="width: 80%; background: #FFFFFF;margin: auto;padding-top: 25px;">
				<div class="flex-column justify-content-between" style="width: 95%;background: #FFFFFF;border: 1px solid #000000;border-radius: 5px; padding: 20px;margin: auto; ">
				<h3 class="question_number" style="text-decoration:none;">Question №@counter1 (@Model[i].Scores points)</h3>
		        <h3 class="question_number" style="text-decoration:none;font-weight: normal;">@Model[i].Title</h3>

					
					<div class="flex-column justify-content-between">


						@{
							List<string> optionSt = Model[i].Options.Split(',').ToList();
							string ttt = counter1.ToString(); 
						}
					

								@for(int j=0;j<optionSt.Count();j++)
								{


									@Html.RadioButtonFor(p=>Model[i].NewStudentAnswer,optionSt[j], new {style="height:18px;width:18px; margin:4px;vertical-align: middle;"}) @Html.LabelFor(p=>Model[i].NewStudentAnswer,optionSt[j],new {style="font-size:18px;margin-left:4px;"})<br>
						}
								
					</div >
								
		</div>
	</div>
		}
		<div class="flex-column justify-content-between" style="width: 80%; background: #FFFFFF;margin: auto;padding-top: 25px;">
<div class="d-flex justify-content-start" style="margin-top:20px;">
		@*<a class="btn" role="button" style="background: #79819E;font-family: 'Montserrat', sans-serif;font-size: 24px;font-weight: 700;color: #FFFFFF;padding: 5px;margin:20px;" asp-controller="Test" asp-action="GetAllTests">Back</a>*@
		<input type="submit" class="btn" role="button" style="background: #79819E;font-family: 'Montserrat', sans-serif;font-size: 24px;font-weight: 700;color: #FFFFFF;padding: 5px; margin:20px; margin-left:20px;"  value="Finish Test">
    </div>
</div>	
</div>
	} 

	</form>
 </div>

